<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.2" package="com.livetiles.showcase">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Showcase" android:icon="@drawable/appicon120" android:hardwareAccelerated="false" android:largeHeap="true"></application>
</manifest>